<div class="container mx-auto p-4 bg-white dark:bg-gray-800">
    <h1 class="text-2xl font-semibold mb-4 text-gray-900 dark:text-white">Lista de Proveedores</h1>

    <button (click)="openModal()" class="mb-4 bg-blue-500 text-white px-4 py-2 rounded dark:bg-blue-700">Crear Proveedor</button>

    <table id="search-table" class="min-w-full bg-white dark:bg-gray-800">
        <thead>
            <tr class="text-gray-900 dark:text-white">
                <th><span class="flex items-center">ID</span></th>
                <th><span class="flex items-center">Nombre</span></th>
                <th><span class="flex items-center">Producto</span></th>
                <th><span class="flex items-center">Número celular</span></th>
                <th><span class="flex items-center">Fecha de Creación</span></th>
                <th><span class="flex items-center">Acciones</span></th>
                <th><span class="flex items-center">Eliminar</span></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let supplier of suppliers" class="text-gray-900 dark:text-white">
                <td class="font-medium text-gray-900 whitespace-nowrap dark:text-white">{{ supplier.supplierId }}</td>
                <td class="whitespace-nowrap">{{ supplier.supplierName }}</td>
                <td class="whitespace-nowrap">{{ supplier.supplierProduct }}</td>
                <td class="whitespace-nowrap">{{ supplier.phone }}</td>
                <td class="whitespace-nowrap">{{ supplier.createdAt | date:'short' }}</td>
                <td class="whitespace-nowrap">
                    <button (click)="editSupplier(supplier.supplierId)" class="bg-blue-500 text-white px-2 py-1 rounded dark:bg-blue-700">Editar</button>
                </td>
                <td class="whitespace-nowrap">
                    <button (click)="deleteSupplier(supplier.supplierId)" class="bg-red-500 text-white px-2 py-1 rounded dark:bg-red-700">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>


<!-- Modal para crear/editar proveedor -->
<!-- Modal para crear/editar proveedor -->
<div *ngIf="showModal" class="fixed z-10 inset-0 overflow-y-auto">
    <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
        <div class="fixed inset-0 transition-opacity">
            <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
        </div>
        <span class="hidden sm:inline-block sm:align-middle sm:h-screen">&#8203;</span>
        <div class="inline-block align-bottom bg-white dark:bg-gray-800 rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full">
            <div class="bg-white dark:bg-gray-800 px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                <h3 class="text-lg leading-6 font-medium text-gray-900 dark:text-gray-300 mb-4">{{ isEditMode ? 'Editar Proveedor' : 'Crear Proveedor' }}</h3>
                <form [formGroup]="supplierForm" (ngSubmit)="onSubmit()">
                    <div>
                        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nombre</label>
                        <input 
                          formControlName="supplierName" 
                          (keypress)="validateNameInput($event)" 
                          (keypress)="validateSingleSpace($event)"
                          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" 
                          type="text" required>
                      
                        <div *ngIf="supplierForm.get('supplierName')?.touched && supplierForm.get('supplierName')?.invalid" class="text-red-500">
                          <div *ngIf="supplierForm.get('supplierName')?.errors?.['required']">El nombre es requerido.</div>
                          <div *ngIf="supplierForm.get('supplierName')?.errors?.['minlength']">El nombre debe contener al menos 3 caracteres.</div>
                          <div *ngIf="supplierForm.get('supplierName')?.errors?.['pattern']">El nombre solo puede contener letras, números, guiones, guion bajo y vocales con tildes.</div>
                          <div *ngIf="supplierForm.get('supplierName')?.errors?.['noVowel']">El nombre debe contener al menos una vocal.</div>
                          <div *ngIf="supplierForm.get('supplierName')?.errors?.['multipleSpaces']">El nombre no puede tener múltiples espacios ni comenzar/terminar con espacio.</div>
                        </div>
                      </div>    
                    <div>
                        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Producto</label>
                        <select formControlName="supplierProduct" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" required>
                            <option *ngFor="let product of products" [value]="product.name">{{ product.name }}</option>
                        </select>
                        <div *ngIf="supplierForm.get('supplierProduct')?.touched && supplierForm.get('supplierProduct')?.invalid" class="text-red-500">
                            Selecciona un producto válido.
                        </div>
                    </div>
                    <div>
                        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Número celular contacto proveedor</label>
                        <input 
                          formControlName="phone" 
                          (keypress)="onlyNumbers($event)" 
                          (paste)="limitPaste($event)" 
                          maxlength="10"
                          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" 
                          type="text" required>
                      
                        <div *ngIf="supplierForm.get('phone')?.touched && supplierForm.get('phone')?.invalid" class="text-red-500">
                          <div *ngIf="supplierForm.get('phone')?.errors?.['pattern']">El número de celular debe contener exactamente 10 dígitos.</div>
                          <div *ngIf="supplierForm.get('phone')?.errors?.['startsWithThree']">El número de celular debe comenzar con un '3'.</div>
                        </div>
                      </div>
                      
                    <div class="mt-5 sm:mt-6">
                        <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded">{{ isEditMode ? 'Guardar Cambios' : 'Guardar' }}</button>
                        <button type="button" (click)="closeModal()" class="ml-4 bg-gray-500 text-white px-4 py-2 rounded">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>