<div class="container mx-auto p-4 bg-white dark:bg-gray-800">
    <h1 class="text-2xl font-semibold mb-4 text-gray-900 dark:text-white">Lista de Proveedores</h1>

    <button (click)="openModal()" class="mb-4 bg-blue-500 text-white px-4 py-2 rounded dark:bg-blue-700">Crear Proveedor</button>

    <table id="search-table" class="min-w-full bg-white dark:bg-gray-800">
        <thead>
            <tr class="text-gray-900 dark:text-white">
                <th><span class="flex items-center">ID</span></th>
                <th><span class="flex items-center">Nombre</span></th>
                <th><span class="flex items-center">Producto</span></th>
                <th><span class="flex items-center">Teléfono</span></th>
                <th><span class="flex items-center">Fecha de Creación</span></th>
                <th><span class="flex items-center">Acciones</span></th>
                <th><span class="flex items-center">Eliminar</span></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let supplier of suppliers" class="text-gray-900 dark:text-white">
                <td class="font-medium text-gray-900 whitespace-nowrap dark:text-white">{{ supplier.supplierId }}</td>
                <td class="whitespace-nowrap">{{ supplier.supplierName }}</td>
                <td class="whitespace-nowrap">{{ supplier.supplierProduct }}</td>
                <td class="whitespace-nowrap">{{ supplier.phone }}</td>
                <td class="whitespace-nowrap">{{ supplier.createdAt | date:'short' }}</td>
                <td class="whitespace-nowrap">
                    <button (click)="editSupplier(supplier.supplierId)" class="bg-yellow-500 text-white px-2 py-1 rounded dark:bg-yellow-700">Editar</button>
                </td>
                <td class="whitespace-nowrap">
                    <button (click)="deleteSupplier(supplier.supplierId)" class="bg-red-500 text-white px-2 py-1 rounded dark:bg-red-700">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>