<div class="max-w-4xl mx-auto grid grid-cols-1 md:grid-cols-3 gap-8">
    <!-- Gráfico de Inventarios -->
    <div class="bg-white p-4 rounded-lg shadow">
      <h2 class="text-center font-bold mb-4">Inventarios</h2>
      <div id="inventory-chart"></div>
    </div>
  
    <!-- Gráfico de Ventas -->
    <div class="bg-white p-4 rounded-lg shadow">
      <h2 class="text-center font-bold mb-4">Ventas</h2>
      <div id="sales-chart"></div>
    </div>
  
    <!-- Gráfico de Proveedores -->
    <div class="bg-white p-4 rounded-lg shadow">
      <h2 class="text-center font-bold mb-4">Proveedores</h2>
      <div id="suppliers-chart"></div>
    </div>
  </div>  