<div class="container mx-auto p-4 bg-white dark:bg-gray-800">
    <h1 class="text-2xl font-semibold mb-4 text-gray-900 dark:text-white">Lista de Inventarios</h1>

    <button (click)="openModal()" class="mb-4 bg-blue-500 text-white px-4 py-2 rounded dark:bg-blue-700">Crear Inventario</button>

    <table id="search-table" class="min-w-full bg-white dark:bg-gray-800">
        <thead>
            <tr class="text-gray-900 dark:text-white">
                <th><span class="flex items-center">ID</span></th>
                <th><span class="flex items-center">Producto</span></th>
                <th><span class="flex items-center">Cantidad</span></th>
                <th><span class="flex items-center">Precio Unitario</span></th>
                <th><span class="flex items-center">Proveedor</span></th>
                <th><span class="flex items-center">Fecha de Creación</span></th>
                <th><span class="flex items-center">Acciones</span></th>
                <th><span class="flex items-center">Eliminar</span></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let inventory of inventories" class="text-gray-900 dark:text-white">
                <td class="font-medium text-gray-900 whitespace-nowrap dark:text-white">{{ inventory.productId }}</td>
                <td class="whitespace-nowrap">{{ inventory.productName }}</td>
                <td class="whitespace-nowrap">{{ inventory.quantity }}</td>
                <td class="whitespace-nowrap">{{ inventory.unitPrice | currency }}</td>
                <td class="whitespace-nowrap">{{ inventory.supplierId }}</td>
                <td class="whitespace-nowrap">{{ inventory.createdAt | date:'short' }}</td>
                <td class="whitespace-nowrap">
                    <button (click)="editInventory(inventory.productId)" class="bg-yellow-500 text-white px-2 py-1 rounded dark:bg-yellow-700">Editar</button>
                </td>
                <td class="whitespace-nowrap">
                    <button (click)="deleteInventory(inventory.productId)" class="bg-red-500 text-white px-2 py-1 rounded dark:bg-red-700">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>