<div class="w-64 bg-white h-full shadow-md">
    <div class="px-8 py-4">
      <h2 class="text-lg font-semibold text-gray-700">Ana Gourmet</h2>
    </div>
    <nav class="px-4 mt-6">
      <ul class="space-y-4">
        <li><a routerLink="/home" class="block text-gray-600 hover:text-gray-900">Dashboard</a></li>
        <li><a routerLink="/ventas" class="block text-gray-600 hover:text-gray-900">Ventas</a></li>
        <li><a routerLink="/inventarios" class="block text-gray-600 hover:text-gray-900">Inventarios</a></li>
        <li><a routerLink="/proveedores" class="block text-gray-600 hover:text-gray-900">Proveedores</a></li>
        <li><a routerLink="/clientes" class="block text-gray-600 hover:text-gray-900">Clientes</a></li>
      </ul>
    </nav>
  </div>  